{% extends '::base.html.twig' %}

{% block content %}
    <table class="table-bordered" width="80%">
        <th>id</th><th>tracker</th><th>status</th><th>priority</th><th>subject</th><th>author</th><th>assignee</th><th>updated</th>
        {% for item in data %}
            {% for issue in item %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.tracker.name }}</td>
                    <td>{{ issue.status.name }}</td>
                    <td>{{ issue.priority.name }}</td>
                    <td>{{ issue.subject }}</td>
                    <td>{{ issue.author.name }}</td>
                    {% if issue.assigned_to.name is defined %}
                        <td>{{ issue.assigned_to.name }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ issue.updated_on | date("d.m.Y") }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}